{% extends 'map_base.html' %}

{% block info %}
    <table id="usable">
        {% for obj in player.getUsable() %}
            { % if obj is not none }
            <tr>
                <td><a href="/use/{{ player.hashID }}/{{ loop.index0 }}">Use</a></td>
                <td> {{ obj.obj_type }} </td>
                <td>
                    <ul>
                        {% for attr in obj.attrs %}
                            <li>{{ attr }}: {{ obj.attrs[attr] }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            { % endif }
        {% endfor %}
    </table><br>
{% endblock %}
